<a href="https://colab.research.google.com/github/vasavi2015/PHYTON/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a function which accepts two inputs from the user and compute n
Cr**

In [ ]:

def nCr(n, r):
	return (fact(n) / (fact(r)* fact(n - r)))
def fact(n):
	res = 1
	for i in range(2, n+1):
		res = res * i
	return res
n=(int(input("Enter the value of n= ")))
r=(int(input("Enter the value of r= ")))
print(int(nCr(n, r)))

Enter the value of n= 6
Enter the value of r= 4
15

 **Program to print a specified list after removing the 0th, 4th and 5th elements. 
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
Expected Output : ['Green', 'White', 'Black']**

In [ ]:
list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
unwanted_list = ["Red","Pink","Yellow"]
list= [ele for ele in list if ele not in unwanted_list]
print(list)

['Green', 'White', 'Black']

**Program to get the difference between the two lists**

In [1]:
a= ["Red","Pink","Yellow"]
x=set(a)
b=['Green', 'Pink', 'Black']
y=set(b)
z=x.difference(y)
diff=list(z)
print(z)

{'Red', 'Yellow'}

**Program to find the second smallest number and second largest number in a list.**

In [2]:
list=[1,2,4,3]
length=len(list)
list.sort()
print("Second Largest Number:",list[length-2])
print("Second Smallest Number:",list[1])

Second Largest Number: 3
Second Smallest Number: 2

**Given list of tuples, remove all the tuples with length K. 
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
Explanation : (4, 5) of len = 2 is removed.**

In [ ]:
list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]