<a href="https://colab.research.google.com/github/vasavi2015/PHYTON/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Average of three numbers

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## Multiplication of numbers

In [ ]:
a=4
b=2
c=a*b
print(c)
print(type(c))

8
<class 'int'>

## Dynamic addition of two numbers

In [ ]:
a=int(input("Enter the number:"))
b=int(input("Enter the number:"))
add=a+b
print(add)
print(type(add))

Enter the number:1
Enter the number:3
4
<class 'int'>

## Type conversions

## convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))
print(a)
print(b)

<class 'int'>
<class 'float'>
10
10.0

## float to int

In [ ]:
a=15.5
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'float'>
<class 'int'>
15

## int to string

In [ ]:
a=15
b=str(a)
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

## float to string

In [ ]:
a=15.5
print(type(a))
b=str(a)
print(type(b))

<class 'float'>
<class 'str'>

## String to Int: Not poosible only if values given in alphabets

## boolean

In [ ]:
a=10
b=9
c=a>b
print(bool(c))
print(type(c))

True
<class 'bool'>

## Boolean to int

In [ ]:
a=bool(10)
print(type(a))
b=int(a)
print(type(b))

<class 'bool'>
<class 'int'>

## Boolean to float

In [ ]:
a=bool(10)
print(type(a))
b=float(a)
print(type(b))

<class 'bool'>
<class 'float'>

## Boolean to string

In [ ]:
a=bool(10)
print(type(a))
b=str(a)
print(type(b))

<class 'bool'>
<class 'str'>