<a href="https://colab.research.google.com/github/vasavi2015/PHYTON/blob/main/VU21CSEN0100465.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.a. Build a calculator by taking operations addition,subtraction,multiplication and division

In [1]:

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter number: "))
        num2 = float(input("Enter number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        next_calculation = input("Next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 1
Enter second number: 2
1.0 + 2.0 = 3.0
Next calculation? (yes/no): no

#1.b Check whether number is perfect or not

In [2]:
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number")

Enter any number: 2
The number is not a Perfect number

#2.a find product of two number using recurssion

In [3]:
def product(num1,num2):
    if(num1<num2):
        return product(num2,num1)
    elif(num2!=0):
         return(num1+product(num1,num2-1))
    else:
         return 0
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
print("product is: ",product(num1,num2))

Enter first number: 2
Enter second number: 3
product is:  6

#2.b Take list apple, banana,pine apple, guavava, grape print apple,guavava,grape

In [4]:
list1=['apple','banana','pineapple','guavava','grape']
list1.pop(1)
list1.pop(1)
print(list1)

['apple', 'guavava', 'grape']

#3. find number of characters in line and words in text file

In [ ]:

def counter(fname):

	num_words = 0
	
	num_lines = 0
	
	num_charc = 0

	with open(fname, 'r') as f:

		for line in f:

			num_lines += 1

			word = 'Y'

			for letter in line:

				if (letter != ' ' and word == 'Y'):
	
					num_words += 1
					
			
					word = 'N'
			
				elif (letter == ' '):
					
				for i in letter:
					if(i !=" " and i !="\n"):
					
						num_charc += 1
					
	print("Number of words in text file: ", num_words)
	
	print("Number of lines in text file: ", num_lines)
	
	print('Number of characters in text file: ', num_charc)

	
# Driver Code:
if __name__ == '__main__':
	fname = 'File1.txt'

# 4.Create a table booking bus tickets fields are booking id,name,age,phone number,location insert upto five values in table and find out the names of passenger where age less than 30.

In [ ]:
Create table table_name(Booking Id varchar(20),Names Char (20),Age number (2),Phone number(10),location char(30)) 

insert into table2 values('IG123UF4','VARUN','18',9999999999,'GAJUWAKA');
insert into table2 values('IG453UF4','VASAVI','19',9999929999,'MVP');
insert into table2 values('IG123UF4','CHERRY','12',2999999999,'NAD');
insert into table2 values('IG453EF4','MONI','20',9999939999,'vzg');
insert into table2 values('IG1235UF4','LATHI','35',9999993499,'Gwk');

select * from table2 where age<30